---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.11.3
  creationTimestamp: null
  name: workspaces.spot.release.com
spec:
  group: spot.release.com
  names:
    kind: Workspace
    listKind: WorkspaceList
    plural: workspaces
    singular: workspace
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.stage
      name: Stage
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Workspace is the Schema for the workspaces API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            properties:
              branch:
                properties:
                  name:
                    type: string
                  url:
                    type: string
                required:
                - name
                - url
                type: object
              components:
                description: Collection of all the components that are required for
                  this workspace to deploy.
                items:
                  properties:
                    image:
                      description: Defines how the image is built for this component
                        The workspace will aggregate all the images at build time
                        and will deduplicate the images so only 1 unique image is
                        built.
                      properties:
                        name:
                          description: Name of the component inside the workspace
                            that needs to build this. It needs to be a unique name
                            inside a workspace. This is used to update the workspace
                            with the image information when the image is ready.
                          type: string
                        registry:
                          description: Registry is where all the information for the
                            container Registry is located.
                          properties:
                            url:
                              description: URL is where the container registry is
                                located (ecr, docker, google, etc.)
                              type: string
                          type: object
                        repository_context:
                          description: 'RepositoryContext information is passed down
                            to buildkit as instruction on how to proceed with the
                            repository If the RepositoryContext is not set, it will
                            use the default: Dockerfile: "Dockerfile" Path: "."'
                          properties:
                            dockerfile:
                              description: Location of your Dockerfile within the
                                repository.
                              type: string
                            path:
                              description: Path is what docker calls `context`. It's
                                the location for the content of your build within
                                the repository.
                              type: string
                          required:
                          - dockerfile
                          - path
                          type: object
                        tag:
                          description: Tag is what will be used to tag the image once
                            it's pushed to the container's registry (ecr, etc.) If
                            no tag is set, it will use the workspace tag This can
                            be useful if a workspace builds multiple images and each
                            of the images will be tagged the same value.
                          type: string
                      type: object
                    name:
                      type: string
                  required:
                  - image
                  - name
                  type: object
                type: array
              tag:
                description: Default tag for all the images that are build that don't
                  have a tag specified to them. If no value is set, it will be created
                  before the builds starts.
                type: string
            required:
            - branch
            type: object
          status:
            description: WorkspaceStatus defines the observed state of Workspace
            properties:
              builds:
                description: Builds are the unit of work associated for each of the
                  builds that are required for this workspace to launch. Builds are
                  seeding the Images as they complete.
                items:
                  properties:
                    name:
                      description: '`name` is the name of the build. Required'
                      type: string
                    namespace:
                      description: '`namespace` is the namespace of the build. Required'
                      type: string
                  required:
                  - name
                  - namespace
                  type: object
                type: array
              images:
                additionalProperties:
                  properties:
                    digest:
                      type: string
                    url:
                      type: string
                  type: object
                description: Images are seeded by Builds as they are completed. It's
                  also possible for some services in a workspace to have images that
                  don't require a build (think database, etc.).
                type: object
              namespace:
                description: ManagedNamespace is the namespace that will be associated
                  with this workspace. All k8s objects that will need to exist for
                  this workspace will live under that namespace
                type: string
              stage:
                enum:
                - Building
                - Deploying
                - Running
                - Updating
                - Errored
                - Terminating
                - Deleted
                type: string
            required:
            - stage
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
